<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add User</title>
</head>
<body>

<h1>Add User</h1>
<p><a href="/admin">All Users</a> |
    <a href="/admin/update">Update Users</a> |
    <a href="/admin/delete">Delete Users</a> |
    <a href="/user">User psge</a> |
    <a href="/logout">logout</a>
</p>
<form action="/admin/add" method="post">
    Name:<input type="text" name="name">
    Password:<input type="password" name="password">
    Role:<select type="text" name="role">
    <option value="user">User</option>
    <option value="admin">Admin</option>
</select>
    Message:<input type="text" name="message"><br/><br/>
    <button>Add user</button>
</form>

</body>
</html>